# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Node / JS
node_modules/
dist/
build/
coverage/
.npmrc

# Python
.venv/
__pycache__/
*.py[cod]
.eggs/
*.egg-info/
.env

# Misc
*.log
.tmp/
.cache/
